<div class="collection collection1">
    <div class="container">
        <div class="row">
            {%- for block in section.blocks -%}

            <div
                class="{{ section.settings.xl_devices }} {{ section.settings.lg_devices }} {{ section.settings.md_devices }} {{ section.settings.sm_devices }}">
                <div class="collection1__collection-item ">
                    <div class="collection1__product-image {{section.settings.product_shape}}"
                        style="background:{{section.settings.background_color}}">





                        {%- if block.settings.collection.image != blank -%}

                        {%- if section.settings.product_shape == "rectangular" -%}

                        <a href="{{ block.settings.collection.url }}">
                            <img class="bg"
                                srcset="{%- if block.settings.collection.image.width >= 165 -%}{{ block.settings.collection.image | img_url: '165x' }} 165w,{%- endif -%}
                                      {%- if block.settings.collection.image.width >= 360 -%}{{ block.settings.collection.image | img_url: '360x' }} 360w,{%- endif -%}
                                      {%- if block.settings.collection.image.width >= 535 -%}{{ block.settings.collection.image | img_url: '535x' }} 535w,{%- endif -%}
                                      {%- if block.settings.collection.image.width >= 750 -%}{{ block.settings.collection.image | img_url: '750x' }} 750w,{%- endif -%}
                                      {%- if block.settings.collection.image.width >= 1070 -%}{{ block.settings.collection.image | img_url: '1070x' }} 1070w,{%- endif -%}
                                      {%- if block.settings.collection.image.width >= 1500 -%}{{ block.settings.collection.image | img_url: '2000x' }} 2000w,{%- endif -%}"
                                src="{{ block.settings.collection.image}}"
                                sizes="(min-width: {{ settings.page_width }}px) 2000px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                alt="{{ block.settings.collection.image.alt | escape }}" loading="lazy"
                                width="{{ block.settings.collection.image.width }}"
                                height="{{ block.settings.collection.image.height }}"
                                style="object-fit: {{section.settings.image_fit}};"></a>
                        {%-else-%}
                        <a href="{{ block.settings.collection.url }}">
                            <img class="bg"
                                srcset="{%- if block.settings.collection.image.width >= 165 -%}{{ block.settings.collection.image | img_url: '165x' }} 165w,{%- endif -%}
                                      {%- if block.settings.collection.image.width >= 360 -%}{{ block.settings.collection.image | img_url: '360x' }} 360w,{%- endif -%}
                                      {%- if block.settings.collection.image.width >= 535 -%}{{ block.settings.collection.image | img_url: '535x' }} 535w,{%- endif -%}
                                      {%- if block.settings.collection.image.width >= 750 -%}{{ block.settings.collection.image | img_url: '750x' }} 750w,{%- endif -%}
                                      {%- if block.settings.collection.image.width >= 1070 -%}{{ block.settings.collection.image | img_url: '1070x' }} 1070w,{%- endif -%}
                                      {%- if block.settings.collection.image.width >= 1500 -%}{{ block.settings.collection.image | img_url: '2000x' }} 2000w,{%- endif -%}"
                                src="{{ block.settings.collection.image}}"
                                sizes="(min-width: {{ settings.page_width }}px) 2000px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                alt="{{ block.settings.collection.image.alt | escape }}" loading="lazy" width="400"
                                height="190" style="object-fit: {{section.settings.image_fit}};"></a>
                        {%- endif- %}
                        {%- else -%}
                        {{'image' | placeholder_svg_tag: 'placeholder-svg'}}

                        {%- endif -%}








                    </div>

                    <div class="collection1__product-info" style="margin-bottom:60px; text-align:center;">
                        {%- if section.settings.show_product_title == true -%}
                        <div class="collection1__product-details">
                            <span class="collection1__product-title"><a href="{{ block.settings.collection.url }}"
                                    style="text-decoration: none; color: black;">{{block.settings.collection.title}}</a></span>
                        </div>
                        {%- endif -%}

                        {%- if section.settings.show_product_price == true -%}
                        <span class="collection1__product-price">
                            $ {{product.price}}
                        </span>
                        {%- endif -%}

                        <div class="collection1__colors product1 denim-blue"></div>
                    </div>


                </div>

            </div>
            {%-  endfor-%}



        </div>
    </div>




</div>

<!--
<div class="hero hero1 aligned-{{section.settings.hero_alignment}} {{section.settings.hero_size}}">


    {%- if block.settings.collection.image != blank -%}
    <img class="bg"
        srcset="{%- if block.settings.collection.image.width >= 165 -%}{{ block.settings.collection.image | img_url: '165x' }} 165w,{%- endif -%}
                  {%- if block.settings.collection.image.width >= 360 -%}{{ block.settings.collection.image | img_url: '360x' }} 360w,{%- endif -%}
                  {%- if block.settings.collection.image.width >= 535 -%}{{ block.settings.collection.image | img_url: '535x' }} 535w,{%- endif -%}
                  {%- if block.settings.collection.image.width >= 750 -%}{{ block.settings.collection.image | img_url: '750x' }} 750w,{%- endif -%}
                  {%- if block.settings.collection.image.width >= 1070 -%}{{ block.settings.collection.image | img_url: '1070x' }} 1070w,{%- endif -%}
                  {%- if block.settings.collection.image.width >= 1500 -%}{{ block.settings.collection.image | img_url: '2000x' }} 2000w,{%- endif -%}"
        src="{{ block.settings.collection.image | img_url: '1500x' }}"
        sizes="(min-width: {{ settings.page_width }}px) 2000px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
        alt="{{ block.settings.collection.image.alt | escape }}" loading="lazy" width="{{ block.settings.collection.image.width }}"
        height="{{ block.settings.collection.image.height }}">
    {%- else -%}
    <img src="https://images.pexels.com/photos/4814633/pexels-photo-4814633.jpeg?cs=srgb&dl=pexels-jonaorle-4814633.jpg&fm=jpg"
        class="bg">

    {%- endif -%}

    {% assign opacity = section.settings.opacity | divided_by: 100.00%}

    <div class="hero1__content-container"
        style="background: {{ section.settings.background_color | color_modify: 'alpha', opacity }}">
        <div class="hero1__info">

            {%- for block in section.blocks -%}
            {% case block.type %}
            {%- when 'heading' -%}
            <h1 class="hero1__title" style="font-size:{{block.settings.font_size}}px;">{{block.settings.title | escape}}
            </h1>
            <h2 class="image-with-text__heading h1" {{ block.shopify_attributes }}>
                {{ block.settings.heading | escape }}
            </h2>
            {%- when 'paragraph' -%}
            <p class="hero1__paragraph">{{block.settings.hero_text}}</p>
            <div class="image-with-text__text rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
            {%- when 'button' -%}
            {%- if block.settings.button_label != blank -%}
            <a href="{{block.settings.button_link}}" target="_blank" class="hero1__button"
                {% if block.settings.button_link == blank %} aria-disabled="true" {% endif %}
                {{ block.shopify_attributes }}>
                {{ block.settings.button_label | escape }}
            </a>
            {%- endif -%}
            {%- endcase -%}
            {%- endfor -%}


        </div>
    </div>


</div>-->



{% schema %}
{
"name": "Collection Group",
"class": "spaced-section spaced-section--full-width",
"settings": [
{
"type": "range",
"id": "product_display",
"min": 2,
"max": 24,
"step": 1,
"label": "Product Display",
"default": 4
},
{
"type": "select",
"id": "xl_devices",
"options": [
{
"value": "col-xl-6",
"label": "2 columns"
},
{
"value": "col-xl-4",
"label": "3 columns"
},
{
"value": "col-xl-3",
"label": "4 columns"
},
{
"value": "col-xl-2",
"label": "6 columns"
}
],
"default": "col-xl-4",
"label": "Extra Large Devices"
},
{
"type": "select",
"id": "lg_devices",
"options": [
{
"value": "col-lg-6",
"label": "2 columns"
},
{
"value": "col-lg-4",
"label": "3 columns"
},
{
"value": "col-lg-3",
"label": "4 columns"
},
{
"value": "col-lg-2",
"label": "6 columns"
}
],
"default": "col-lg-4",
"label": "Large Devices"
},
{
"type": "select",
"id": "md_devices",
"options": [
{
"value": "col-md-6",
"label": "2 columns"
},
{
"value": "col-md-4",
"label": "3 columns"
},
{
"value": "col-md-3",
"label": "4 columns"
},
{
"value": "col-md-2",
"label": "6 columns"
}
],
"default": "col-md-4",
"label": "Medium Devices"
},
{
"type": "select",
"id": "sm_devices",
"options": [
{
"value": "col-sm-6",
"label": "2 columns"
},
{
"value": "col-sm-4",
"label": "3 columns"
},
{
"value": "col-sm-3",
"label": "4 columns"
},
{
"value": "col-sm-2",
"label": "6 columns"
}
],
"default": "col-sm-6",
"label": "Small Devices"
},
{
"type": "select",
"id": "image_fit",
"options": [
{
"value": "contain",
"label": "Fit"
},
{
"value": "cover",
"label": "Cover"
}
],
"default": "contain",
"label": "Fit"
},
{
"type": "select",
"id": "product_shape",
"options": [
{
"value": "circle",
"label": "Circular"
},
{
"value": "rectangular",
"label": "Rectangular"
},
{
"value": "square",
"label": "Square"
}
],
"default": "square",
"label": "Shape of Product"
},
{
"type": "color",
"id": "background_color",
"label": "Background filter",
"default": "#EEEAEA"
},
{
"type": "checkbox",
"id": "show_product_title",
"label": "Show title",
"default": true
}
],
"blocks": [
{
"type": "featured_collection",
"name": "t:sections.collection-list.blocks.featured_collection.name",
"settings": [
{
"type": "collection",
"id": "collection",
"label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
}
]
}
],
"presets": [{
"name": "Collection Group",
"settings":
{
"background_color": "#FFFFFF",
"xl_devices": "col-xl-3",
"lg_devices": "col-lg-4",
"md_devices" : "col-md-3",
"sm_devices": "col-sm-6"
}
,
"blocks": [
{
"type": "featured_collection"
},
{
"type": "featured_collection"
},
{
"type": "featured_collection"
},
{
"type": "featured_collection"
}
]
}]
}
{% endschema %}