<div class="collection collection1">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="collection1__collection-item">
                    <div class="collection1__product-image">
                        <div class="collection1__heart">
                            <i class="lni lni-heart"></i>
                        </div>
                        <img
                            src="https://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_08-05_133_468x.JPG?v=1568667011"></img>
                        <img src="https://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_08-05_138_468x.JPG?v=1568667011"
                            class="imageBack"></img>
                    </div>
                    <div class="collection1__product-info">
                        <div class="collection1__product-details">
                            <span class="collection1__product-title">Everywhere Shaping Denim</span>
                        </div>

                        <span class="collection1__product-price">
                            $16.00 USD
                        </span>

                        <div class="collection1__colors product1 denim-blue"></div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="collection1__collection-item">
                    <div class="collection1__product-image product2-blue active">
                        <div class="collection1__heart">
                            <i class="lni lni-heart"></i>
                        </div>
                        <img src=" https://cdn.shopify.com/s/files/1/0293/9277/products/03-20-19_Studio_3_MA_13-26-34_53_LOLA_LightBlueWash_P_0592_KL_468x.jpg?v=1568679130"
                            class="color-blue"></img>
                        <img src="https://cdn.shopify.com/s/files/1/0293/9277/products/03-20-19_Studio_3_MA_13-26-46_53_LOLA_LightBlueWash_P_0602_KL_468x.jpg?v=1568679130"
                            class="imageBack"></img>
                        <!--<img
                            src=" https://cdn.shopify.com/s/files/1/0293/9277/products/07-18-16_Studio_2_11-13-30_LOLA_DarkDenim0608_AJ_468x.jpg?v=1568673006"
                            class="color-darkblue"></img> -->

                    </div>

                    <div class="collection1__product-image product2-black ">
                        <div class="collection1__heart">
                            <i class="lni lni-heart"></i>
                        </div>
                        <img src=" https://cdn.shopify.com/s/files/1/0293/9277/products/03-20-19_Studio_3_MA_12-01-37_46_LOLA_Black_P_1261_WG_468x.jpg?v=1568679131"
                            class="color-black"></img>
                        <img src="https://cdn.shopify.com/s/files/1/0293/9277/products/03-20-19_Studio_3_MA_12-02-02_46_LOLA_Black_P_1271_WG_468x.jpg?v=1568679131"
                            class="imageBack"></img>

                    </div>

                    <div class="collection1__product-image product2-darkblue ">
                        <div class="collection1__heart">
                            <i class="lni lni-heart"></i>
                        </div>
                        <img src=" https://cdn.shopify.com/s/files/1/0293/9277/products/07-18-16_Studio_2_11-13-30_LOLA_DarkDenim0608_AJ_468x.jpg?v=1568673006"
                            class="color-darkblue"></img>
                        <img src="https://cdn.shopify.com/s/files/1/0293/9277/products/07-18-16_Studio_2_11-14-31_LOLA_DarkDenim0619_AJ_468x.jpg?v=1568673006"
                            class="imageBack"></img>

                    </div>

                    <div class="collection1__product-info">
                        <div class="collection1__product-details">
                            <span class="collection1__product-title">Statuesque Jeans</span>
                        </div>

                        <span class="collection1__product-price">
                            $29.99 USD
                        </span>

                        <div class="collection1__product-colors">
                            <div class="collection1__colors product2 blue"></div>
                            <div class="collection1__colors product2 black"></div>
                            <div class="collection1__colors product2 darkblue"></div>
                        </div>


                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="collection1__collection-item">
                    <div class="collection1__product-image">
                        <div class="collection1__heart">
                            <i class="lni lni-heart"></i>
                        </div>
                        <img
                            src="https://cdn.shopify.com/s/files/1/0293/9277/products/12-30-20Studio3_BL_TB_14-43-01_76_FN505MIKE_Yellow_0667_WG_468x.jpg?v=1609373805"></img>
                        <img src="https://cdn.shopify.com/s/files/1/0293/9277/products/12-30-20Studio3_BL_TB_14-43-11_76_FN505MIKE_Yellow_0674_WG_468x.jpg?v=1609373808"
                            class="imageBack"></img>

                    </div>
                    <div class="collection1__product-info">
                        <div class="collection1__product-details">
                            <span class="collection1__product-title">Long Sleeve Woven Top</span>
                        </div>

                        <span class="collection1__product-price">
                            $22.99 USD
                        </span>

                        <div class="collection1__colors product3 yellow"></div>
                    </div>
                </div>


            </div>



        </div>
    </div>




</div>


<div class="hero hero1 aligned-{{section.settings.hero_alignment}} {{section.settings.hero_size}}">


    {%- if section.settings.image != blank -%}
    <img class="bg"
        srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                  {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                  {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                  {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                  {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w,{%- endif -%}
                  {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}"
        src="{{ section.settings.image | img_url: '1500x' }}"
        sizes="(min-width: {{ settings.page_width }}px) 2000px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
        alt="{{ section.settings.image.alt | escape }}" loading="lazy" width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.height }}">
    {%- else -%}
    <img src="https://images.pexels.com/photos/4814633/pexels-photo-4814633.jpeg?cs=srgb&dl=pexels-jonaorle-4814633.jpg&fm=jpg"
        class="bg">

    {%- endif -%}

    {% assign opacity = section.settings.opacity | divided_by: 100.00%}

    <div class="hero1__content-container"
        style="background: {{ section.settings.background_color | color_modify: 'alpha', opacity }}">
        <div class="hero1__info">

            {%- for block in section.blocks -%}
            {% case block.type %}
            {%- when 'heading' -%}
            <h1 class="hero1__title" style="font-size:{{block.settings.font_size}}px;">{{block.settings.title | escape}}
            </h1>
            <h2 class="image-with-text__heading h1" {{ block.shopify_attributes }}>
                {{ block.settings.heading | escape }}
            </h2>
            {%- when 'paragraph' -%}
            <p class="hero1__paragraph">{{block.settings.hero_text}}</p>
            <div class="image-with-text__text rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
            {%- when 'button' -%}
            {%- if block.settings.button_label != blank -%}
            <a href="{{block.settings.button_link}}" target="_blank" class="hero1__button"
                {% if block.settings.button_link == blank %} aria-disabled="true" {% endif %}
                {{ block.shopify_attributes }}>
                {{ block.settings.button_label | escape }}
            </a>
            {%- endif -%}
            {%- endcase -%}
            {%- endfor -%}


        </div>
    </div>


</div>



{% schema %}
{
"name": "Collection Group Single",
"class": "spaced-section spaced-section--full-width",
"settings": [
{
"type": "select",
"id": "hero_size",
"options": [
{
"value": "hero1__25vh",
"label": "25%"
},
{
"value": "hero1__50vh",
"label": "50%"
},
{
"value": "hero1__75vh",
"label": "75%"
},
{
"value": "hero1__100vh",
"label": "100%"
}
],
"default": "hero1__100vh",
"label": "Hero Size"
},
{
"type": "image_picker",
"id": "image",
"label": "t:sections.image-with-text.settings.image.label"
},
{
"type": "select",
"id": "hero_alignment",
"options": [
{
"value": "center",
"label": "Center"
},
{
"value": "left",
"label": "Left"
},
{
"value": "right",
"label": "Right"
}
],
"default": "center",
"label": "Alignment"
},
{
"type": "color",
"id": "background_color",
"label": "Background filter",
"default": "#000000"
},
{
"type": "range",
"id": "opacity",
"min": 0,
"max": 100,
"step": 1,
"label": "Opacity",
"default": 50
}
],
"blocks": [
{
"type": "heading",
"name": "t:sections.image-with-text.blocks.heading.name",
"limit": 1,
"settings": [
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Title"
},
{
"type": "range",
"id": "font_size",
"min": 30,
"max": 95,
"step": 1,
"unit": "px",
"label": "Font size",
"default": 55
}
]
},
{
"type": "paragraph",
"name": "Paragraph",
"limit": 1,
"settings": [
{
"type": "textarea",
"id": "hero_text",
"label": "Hero Text",
"default": "Beard kickstarter affogato biodiesel jianbing. Tbh humblebrag truck cornhole."
}
]
},
{
"type": "button",
"name": "t:sections.image-with-text.blocks.button.name",
"limit": 1,
"settings": [
{
"type": "text",
"id": "button_label",
"default": "View More",
"label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
"info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
},
{
"type": "url",
"id": "button_link",
"label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
}
]
}
],
"presets": [
{
"name": "Collection Group Single",
"blocks": [
{
"type": "heading"
},
{
"type": "paragraph"
},
{
"type": "button"
}
]
}
]
}
{% endschema %}