{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'Footer1.css' | asset_url | stylesheet_tag }}


<footer class="footer footer-1">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          {%- for block in section.blocks -%}
          <div class="col-md-4 inner">
            <b>{{block.settings.heading}}</b>
            <ul>
              {%- for link in block.settings.menu.links -%}
              <li><a href="{{link.url}}">{{link.title}}</a></li>
              {%- endfor -%}
            </ul>
          </div>
          {%- endfor -%}

        </div>


      </div>

      <div class="col-md-4"> </div>

      <div class="col-md-4">
        {%- if section.settings.newsletter_enable == true -%}
        <div><b>{{section.settings.newsletter_heading}}</b></div>



        {%- form 'customer' -%}
        <input name="contact[tags]" type="hidden" placeholder="youremail@company.com"></input>
        <div class="newsletter-form__field-wrapper">
          <div class="field" style="display: flex; flex-direction: column;">
            <input type="email" name="contact[email]" value="{{ form.email }}" aria-required="true" autocorrect="off"
              autocapitalize="off" autocomplete="email" {% if form.errors %} autofocus aria-invalid="true"
              aria-describedby="ContactFooter-error" {% elsif form.posted_successfully? %}
              aria-describedby="ContactFooter-success" {% endif %} placeholder="youremail@company.com" required>
            <button type="submit" style="width:100%; font-size: 1rem; padding:10px 40px; margin-bottom: 10px;"
              name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
              {{ 'newsletter.button_label' | t }}
            </button>
          </div>
          {%- if form.errors -%}
          <small class="newsletter-form__message form__message"
            id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }}
            {{ form.errors.messages['email'] }}</small>
          {%- endif -%}
        </div>
        {%- if form.posted_successfully? -%}
        <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success"
          tabindex="-1" autofocus style="display: none;">{% render 'icon-success' %}{{ 'newsletter.success' | t }}
        </h3>
        {%- endif -%}
        {%- endform -%}

        {%- endif -%}


        <div class="footer-text">{{section.settings.footer_message}}</div>

        <div class="social-icons">
          {%- if section.settings.show_social == true -%}
          {%- if settings.social_facebook_link != blank -%}
          <a href="{{settings.social_facebook_link}}"><i class="lni lni-facebook-filled"></i></a>
          {%- endif -%}

          {%- if settings.social_instagram_link != blank -%}
          <a href="{{settings.social_instagram_link}}"><i class="lni lni-instagram-original"></i></a>
          {%- endif -%}

          {%- if settings.social_twitter_link != blank -%}
          <a href="{{settings.social_twitter_link}}"><i class="lni lni-twitter-original"></i></a>
          {%- endif -%}

          {%- if settings.social_youtube_link != blank -%}
          <a href="{{settings.social_youtube_link}}"><i class="lni lni-youtube"></i></a>
          {%- endif -%}

          {%- if settings.social_tiktok_link != blank -%}
          <a href="{{settings.social_tiktok_link }}"><i class="lni lni-tiktok"></i></a>
          {%- endif -%}

          {%- endif -%}

        </div>
      </div>
    </div>
    <div class="col-md-12 copyright-section">
      <hr>
      </hr>
      <div class="row copyright-content">
        <div class="col-md-9">
          © {{'now' | date: "%Y"}}, {{shop.name }} LLC All Rights Reserved
        </div>

        <div class="col-md-3">
          <div class="row">
            {%- for link in section.settings.footer_bottom_menu.links -%}
            <div class="col-md-4 inner"><a href="{{link.url}}">{{link.title}}</a></div>
            {%- endfor -%}
          </div>

        </div>

      </div>


    </div>


  </div>
</footer>





{% schema %}
{
"name": "t:sections.footer.name",
"blocks": [
{
"type": "link_list",
"name": "t:sections.footer.blocks.link_list.name",
"settings": [
{
"type": "text",
"id": "heading",
"default": "Quick links",
"label": "t:sections.footer.blocks.link_list.settings.heading.label",
"info": "t:sections.footer.blocks.link_list.settings.heading.info"
},
{
"type": "link_list",
"id": "menu",
"default": "footer",
"label": "t:sections.footer.blocks.link_list.settings.menu.label",
"info": "t:sections.footer.blocks.link_list.settings.menu.info"
}
]
},
{
"type": "text",
"name": "t:sections.footer.blocks.text.name",
"settings": [
{
"type": "text",
"id": "heading",
"default": "Heading",
"label": "t:sections.footer.blocks.text.settings.heading.label"
},
{
"type": "richtext",
"id": "subtext",
"default": "<p>Share store details, promotions, or brand content with your customers.</p>",
"label": "t:sections.footer.blocks.text.settings.subtext.label"
}
]
},
{
"type": "image",
"name": "Image",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "range",
"id": "image_width",
"min": 50,
"max": 200,
"step": 5,
"unit": "px",
"label": "Image width",
"default": 100
},
{
"type": "select",
"id": "alignment",
"label": "Image alignment on large screen",
"options": [
{
"value": "",
"label": "Left"
},
{
"value": "center",
"label": "Center"
},
{
"value": "right",
"label": "Right"
}
],
"default": "center"
}
]
}
],
"settings": [
{
"type": "header",
"content": "t:sections.footer.settings.header__1.content",
"info": "t:sections.footer.settings.header__1.info"
},
{
"type": "checkbox",
"id": "newsletter_enable",
"default": true,
"label": "t:sections.footer.settings.newsletter_enable.label"
},
{
"type": "text",
"id": "newsletter_heading",
"default": "Subscribe to our emails",
"label": "t:sections.footer.settings.newsletter_heading.label"
},
{
"type": "header",
"content": "t:sections.footer.settings.header__2.content",
"info": "t:sections.footer.settings.header__2.info"
},
{
"type": "textarea",
"id": "footer_message",
"label": "Footer text",
"default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. "
},
{
"type": "checkbox",
"id": "show_social",
"default": false,
"label": "t:sections.footer.settings.show_social.label"
},
{
"type": "link_list",
"id": "footer_bottom_menu",
"label": "Footer menu",
"default": "main-menu"
}
],
"default": {
"blocks": [
{
"type": "link_list"
},
{
"type": "text"
},
{
"type": "text"
}
]
}
}
{% endschema %}